__pycache__
*.pyc
.git
.env
.env.*
tests/
.pytest_cache
.coverage
*.egg-info
dist/
build/
.venv
venv
.gitignore
*.pyo
*.pyd
.Python
ENV/
env/
node_modules/
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
